@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
html { 
  background:url('https://i.giphy.com/media/QZbAPWbfGUjZK/source.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Advent Pro', sans-serif;
  color: rgba(245, 245, 245, 1);
}
h1{
  font-size: 4em;
  margin: .2em .5em;
  padding: 3px 10px;
}

.first{
  background: rgba(0, 0, 0, 0.3);
  display:inline-block;
  padding: 3px 10px;
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  margin-left: 410px;
  margin-right:410px;
  line-height: 160%;
  font-family: 'Fjalla One', sans-serif;
  }

ul li{
  color: White;
  font-family: 'Fjalla One', sans-serif;
  list-style-position: inside;
  font-size: 1.2em;
  line-height: 200%;
  margin-left: 485px;
}

.secondary li{
  display:inline-block;
  margin: 25px 8px;
  color: White;
  font-size: 1.15em;
  font-family: 'Advent Pro', sans-serif;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: white;
}

.second {
  color: rgba(255, 255, 255, 1);
  font-size: 1.35em;
  font-family: 'Fjalla One', sans-serif;
  }





